.text-section-container{
    margin-top: 3.5em;
    /*margin-left: 12.5em;*/
    width:77%;
    border-top: solid lightgrey 0.2px;
    display:flex;
    flex-direction: row ;

} 

.section-title{
    margin-top: 0;
    width: 45%;
}

.section-text-content{
    width: 70%;
    font-size: 1.3em;
    line-height: 1.7em;
    margin-bottom: 2em;
    color: var(--button-hover-color);
}

.social-network-capsule{
    padding-top: 0.3em;
    margin-top: 0.5em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #203A4C;
    width: 18%;
    height: 2em;
    border-radius:30px;
}