.hero-section-container{
    /*border: black solid 0.5px;*/
    width: 69.3em;
    height: 37.5em;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    overflow: hidden;
    margin: 1.5em auto;
    
}

.hero-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.hero-section-text-container{
    position:absolute;
    background-color: #fafafa;
    height: 22.5em;
    width: 27.6em;
    font-family: var(--title-font);
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 0;
    line-height: 3.12em;
    }

.hero-section-title{
    margin-top: 1em;
    font-size: 50px;
    font-weight: 700;
}