.hero-section-container{
    margin: 3.5em 12.5em;
    position: relative;
    background-image: url('https://res.cloudinary.com/dsesprxhl/image/upload/v1702062089/portfolio/pexels-picjumbocom-196655_jsplwv.jpg');
    width: 77%;
    height: 45em;
    display: flex;
    background-size:cover;
    align-items: flex-end;
    justify-content: flex-start;
    
}

.hero-section-text-container{
    background-color: #fafafa;
    height: 26em;
    width: 35em;
    font-family: var(--title-font);
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 0;
    }

.hero-section-title{
    margin-top: 0;
    font-size: 3.5em;
    font-weight: 700;
    
}