
.navlinks-container{
  display: flex;
  height: 2em;
  width:140%;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: 600;
  font-size: 1em;
  
}

.navlink{
    color: var(--primary-color);
    font-weight: 600;
    text-decoration: none;


}

.navlink:hover{
    color: var(--accent-color);
}

.active{

  font-weight: bold;
  color: var(--accent-color);
  justify-content: space-between;

}