/* .footer-wrapper{
    max-width: 100%;
    background-color: #203A4C;
} */

.footer-container {

    border: solid 0.5px gray;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 69em;
    margin: 0 auto;
    background-color: #fafafa;
    padding: 2em;
    box-sizing: border-box;


}

.logo-navlinks-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
   

}


.footer-img-logo {
    height: 7.0em;
    object-fit: cover;   
}

.footer-social-network-container {
    background-color: #203A4C;
    display: flex;
    width: 9.5em;
    height: 3em;
    align-items: center;
    justify-content: space-around;
    border-radius:30px;
    padding: 0.3em;
}



.copyright{
    width: 20%;
    display:flex;
    align-self: flex-end;   
}

/* .social-network-copyright-container{
    width: 70%;
} */
