.footer-container {

    border-top: solid 0.5px lightgray;
    display: flex;
    align-items: center;
    height: 8em;
    justify-content: space-between;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;

}

.logo-navlinks-container {

    width: 30vw;
    height: 7.5em;
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    /*margin-left: 10%;*/
    color:#203A4C;

}

.footer-logo-container {
    height: 7.0em;
    background-color: var(--primary-color);
    display: flex;

}

.footer-img-logo {
    
    height: 7.0em;
    object-fit: cover;
   
}

.footer-social-network-container {
    background-color: #203A4C;
    display: flex;
    width: 36%;
    height: 3.2em;
    align-items: center;
    margin-right: 20em;
    justify-content: space-around;
    border-radius:30px;
}



.copyright{
    width: 20%;
    display:flex;
    align-self: flex-end;   
}

/* .social-network-copyright-container{
    width: 70%;
} */
