.project-info-full-container{
    display: flex;
    flex-direction: column;


}

.hero-image{
    width: 77%;
    height: 45em;
    margin: 3.5em 12.5em 0em;

    
}
.github-round{
    background-color: var(--accent-color);
    width: 2.3em;
    height: 2.3em;
    border-radius: 50%;
}

.bottom-container{
    margin: 2em;
    width: 77%;
    margin: 0.2em 12.5em;
    display:flex;
    flex-direction: row;
}

.project-detail-title-container{
    
   
   
}

.project-detail-text-container{
    

}


.static-preview{
    margin:1.5em;
    width: 65%;

}