
.admin-login-page-container{
        width: 99.9%;
        border: solid lightgray 0.5px;
        margin-top: 2.5em;
        display:flex;
        flex-direction: row;
}

.background-image-container-left{
        /* background-color:#203a4c; */
        width: 65%;
        background-image: url(https://res.cloudinary.com/dsesprxhl/image/upload/v1702062088/portfolio/pexels-life-of-pix-7974_xpvena.jpg);
        background-size: 100%;
        object-fit: cover;
}


.login-form-container-right{   
        display: flex;     
        margin-top: 5em;
        flex-direction: column;
        /* border: solid black 1px; */
        width: 45%;
        align-items: center;
}

.login-form-title{
        margin:0;
}

.text-content{
        width: 65%;
}

.login-form-container-box{
        margin: 3% 6% 22%;

}


      