@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&display=swap");

:root{
  --primary-color: #33323D;
  --button-hover-color:#616067; 
  --accent-color: #5271ff;
  --bg-color: #FAFAFA;
  --title-font:'Ibarra Real Nova', serif;
}

body{
  font-family: 'Public Sans', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
}
