.image-section-container{ 
    width:60vw;
    display: flex;
    justify-content: space-around;
    margin: 6em 30em;
} 

.aside-image-container{
    width: 60%;
}

.image{
    width: 80%;
    object-fit: cover;

}



.text-container{

    border-top: 0.2px solid lightgray;
    border-bottom: 0.2px solid lightgray;
    width: 40%;
} 

.section-title{
    font-size: 3em; 
    font-family: var(--title-font);
}

.text-content{
    font-size: 1.5em;
    line-height: 1.5em;
    color: var(--button-hover-color)
}

