.image-section-container{ 
    display: flex;
    justify-content: space-around;
    width: 69em;
    height: 37.5em;
    margin-top: 8em; 
    /*margin-left: 9.3em;*/
} 

.image-section-container:nth-child(even){
    flex-direction: row-reverse;
} /* para el efecto de texto y foto derecha7izquierda subsecuente*/

.aside-image-container{
    width: 33.75rem;
    height: 37.5rem;
  
   
}

.image{
    width: 100%;
    object-fit: cover;

}



.text-container{

    margin-left: 7em; 
    border-top: 0.2px solid lightgray;
    border-bottom: 0.2px solid lightgray;
    width: 22.5em;
    height:auto;
    
} 

.section-image-section-title{
    font-size: 2.5em; 
    font-family: var(--title-font);
    line-height: 42px;
}

.text-content{
    font-size: 1em;
    line-height: 1.8em;
    color: var(--button-hover-color);
    width: 99%;

}

.button-container{
    margin-top: 3rem
}

